.videos-container {
  background-color: #f0f2f7;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  margin-top: 20px;
}

.vid-heading {
  font-size: 22px;
  letter-spacing: 2px;
  font-family: 'Roboto';
}

.vid-description {
  font-size: 18px;
  font-weight: 500;
  font-family: 'Roboto';
}

.videos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vid-margin {
  margin: 15px;
}

@media screen and (min-width: 576px) {
  .vid-heading {
    font-size: 28px;
  }
  .vid-description {
    font-size: 22px;
  }
}
